/*основний колір тексту  color: #757575;*/
/* колір заголовків color: #212121;   */
/* основний колір фону   background: #FFFFFF;  */
/* колір акценту color: #2196F3;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

/*Utility*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item + .item {
  margin-left: 30px;
}

.no-title {
  display: none;
}

.icon {
  fill: currentColor;
}

/*Header*/

/*Logo*/

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.white-logo {
  color: var(--primary-white-color);
}

.black-logo {
  color: #000000;
}

/*Site nav*/

.site-nav {
  display: flex;
  margin-left: 93px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/*Contacts*/

.head-contacts {
  display: flex;
  margin-left: auto;
  font-style: normal;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.head-link {
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.head-link:hover,
.head-link:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero-text {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

/*Advantages*/

.advantages {
  display: flex;
}

.item + .item {
  margin-left: 30px;
}

.advantages-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-bg {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
}

.advantages-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/*Projects*/

.section-projects {
  padding-bottom: 94px;
}
.projects {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.item + .item {
  margin-left: 30px;
}

.projects .item {
  position: relative;
  overflow: hidden;
}

.item-text {
  position: absolute;
  bottom: 0%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 70px;

  font-family: Roboto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);

  background: rgba(47, 48, 58, 0.8);
}

.projects > .item img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Team*/

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
  text-align: center;
}

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.team > .item {
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.member-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.member-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.member-social a:not(:last-child) {
  margin-right: 10px;
}

/*Clients*/

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.clients {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/*Footer*/

.footer-box {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-box > .container {
  display: flex;
}

.foot-contacts {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.address-text {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
}

.foot-link {
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.studio-social {
  margin-top: 12px;
  margin-right: 93px;
}

.studio-social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.studio-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.studio-link:not(:last-child) {
  margin-right: 10px;
}

.studio-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link:hover,
.studio-link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-top: 12px;
}

.subscribe-form {
  display: flex;
  margin-top: 20px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  outline: none;
  color: var(--primary-white-color);
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.subscribe-button-text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.subscribe-icon {
  width: 25px;
  height: 25px;
}

/*Portfolio*/

.border {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons li:not(:first-child) {
  margin-left: 8px;
}

.portfolio-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio-items li {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  outline: 1px solid #eeeeee;
}

.portfolio-items li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;

  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  height: 294px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items li:hover .overlay {
  transform: translateY(-100%);
}

.portfolio-items li:nth-child(3n) {
  margin-right: 0;
}

.portfolio-items li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-title {
  margin-top: 20px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-category {
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/*Modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding-right: 40px;
  padding-left: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
}

.modal-close-button {
  position: absolute;
  margin-left: 450px;
  margin-top: 8px;
  background: var(--primary-white-color);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-icon,
.modal-close-button:hover .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  width: 11px;
  height: 11px;
}

.modal-title {
  margin-top: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
}

.form li:nth-last-child(-n + 3) {
  margin-top: 10px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-container {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;

  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
}

.form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:hover,
.form-comment:focus {
  border: 1px solid var(--accent-color);
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.contract {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.accept-checkbox {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .custom-checkbox {
  background-image: url(../images/custom2.svg);
  background-origin: border-box;
  background-size: contain;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url("../images/custom1.svg");
}

.contact {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-send-button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;

  cursor: pointer;
  border: none;
  outline: none;

  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
