/*Header*/

/*Logo*/

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
}

.white-logo {
  color: $white-color;
}

.black-logo {
  color: #000000;
}

/*Site nav*/

.site-nav {
  display: flex;
  margin-left: 93px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav .nav-link.current {
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

/*Contacts*/

.head-contacts {
  display: flex;
  margin-left: auto;
  font-style: normal;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.head-link {
  align-items: center;
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
